---
whiskers:
  version: ^2.5.1
  matrix:
    - flavor
  filename: "themes/catppuccin-{{flavor.identifier}}.rasi"
---
* {
{%- for name,color in flavor.colors %}
  {{ name }}: #{{ color.hex }};
{%- endfor %}
}

